:root {
    --pink-color: #E66AB0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 31px;
}

section {
    height: 93vh;
}

#navigation {
    max-width: 100%;
    min-height: 7vh;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
}
    #navigation ul {
        list-style: none;
        flex: 1.5;
        padding-left: 100px;
        
    }
    #navigation ul:nth-child(2) {
        display: inherit;
        flex: 1;
        justify-content: space-around;
        padding-left: 0;
    }
    #navigation a {
       position: relative;
       transition: 0.3s;
       color: #d9d9d9;
    }
    #navigation a::after {
        content: "";
        position: absolute;
        background-color: var(--pink-color);
        height: 3px;
        width: 0;
        left: 50%;
        bottom: 1px;
        transition: 0.3s;
    }
    #navigation a:hover {
        color: var(--pink-color);
    }
    #navigation a:hover::after {
        width: 100%;
        left: 0;
    }

main {
    display: flex;
    flex-direction: row;
}

    #left {
        flex: 1.5;
        background-color: #E6D981;
    }
        #left p {
            text-align: right;
            font-size: 250px;
            color: #3F9199;
        }

    #right {
        flex: 1;
        background-color: #3F9199;
    }

        #ball {
            width: 100px;
            height: 100px;
            border-radius: 360px;
            background-color: #E6D981;
            margin: 20px 20px;
        }


@media (max-width: 1000px) {
    a {
        font-size: 25px;
    }
/*
    #navigation ul:nth-child(2) {
        width: 40%;
    }
*/
}
